@font-face {
  font-family: 'lp-icons';
  src: url('../font/lp-icons.eot?44039496');
  src: url('../font/lp-icons.eot?44039496#iefix') format('embedded-opentype'),
       url('../font/lp-icons.woff?44039496') format('woff'),
       url('../font/lp-icons.ttf?44039496') format('truetype'),
       url('../font/lp-icons.svg?44039496#lp-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'lp-icons';
    src: url('../font/lp-icons.svg?44039496#lp-icons') format('svg');
  }
}
*/
 [class^="icon-lp"], [class*=" icon-lp"] {
     font-family: "lp-icons";
     font-style: normal;
     font-weight: normal;
     speak: none;
 }
 [class^="icon-lp"]:before, [class*=" icon-lp"]:before {
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-lp-chevron-left:before { content: '\e800'; } /* '' */
.icon-lp-quote-bubble:before { content: '\e801'; } /* '' */
.icon-lp-briefcase:before { content: '\e802'; } /* '' */
.icon-lp-info-question:before { content: '\e803'; } /* '' */
.icon-lp-pen-doc:before { content: '\e804'; } /* '' */
.icon-lp-globe:before { content: '\e805'; } /* '' */
.icon-lp-grad-cap:before { content: '\e806'; } /* '' */
.icon-lp-chevron-upper-right:before { content: '\e807'; } /* '' */
.icon-lp-gc-accelerator:before { content: '\e808'; } /* '' */
.icon-lp-open-book:before { content: '\e809'; } /* '' */
.icon-lp-magnify:before { content: '\e80a'; } /* '' */
.icon-lp-chevron-right:before { content: '\e80b'; } /* '' */
.icon-lp-mouse:before { content: '\e80c'; } /* '' */
.icon-lp-diploma:before { content: '\e80d'; } /* '' */
.icon-lp-ontariolearn:before { content: '\e80e'; } /* '' */
.icon-lp-compass:before { content: '\e80f'; } /* '' */
.icon-lp-key:before { content: '\e810'; } /* '' */
.icon-lp-glass:before { content: '\e811'; } /* '' */
.icon-lp-music:before { content: '\e812'; } /* '' */
.icon-lp-search:before { content: '\e813'; } /* '' */
.icon-lp-mail:before { content: '\e814'; } /* '' */
.icon-lp-mail-alt:before { content: '\e815'; } /* '' */
.icon-lp-mail-squared:before { content: '\e816'; } /* '' */
.icon-lp-heart:before { content: '\e817'; } /* '' */
.icon-lp-heart-empty:before { content: '\e818'; } /* '' */
.icon-lp-star:before { content: '\e819'; } /* '' */
.icon-lp-star-empty:before { content: '\e81a'; } /* '' */
.icon-lp-star-half:before { content: '\e81b'; } /* '' */
.icon-lp-star-half-alt:before { content: '\e81c'; } /* '' */
.icon-lp-user:before { content: '\e81d'; } /* '' */
.icon-lp-users:before { content: '\e81e'; } /* '' */
.icon-lp-male:before { content: '\e81f'; } /* '' */
.icon-lp-female:before { content: '\e820'; } /* '' */
.icon-lp-child:before { content: '\e821'; } /* '' */
.icon-lp-video:before { content: '\e822'; } /* '' */
.icon-lp-videocam:before { content: '\e823'; } /* '' */
.icon-lp-picture:before { content: '\e824'; } /* '' */
.icon-lp-camera:before { content: '\e825'; } /* '' */
.icon-lp-camera-alt:before { content: '\e826'; } /* '' */
.icon-lp-th-large:before { content: '\e827'; } /* '' */
.icon-lp-th:before { content: '\e828'; } /* '' */
.icon-lp-th-list:before { content: '\e829'; } /* '' */
.icon-lp-ok:before { content: '\e82a'; } /* '' */
.icon-lp-ok-circled:before { content: '\e82b'; } /* '' */
.icon-lp-ok-circled2:before { content: '\e82c'; } /* '' */
.icon-lp-ok-squared:before { content: '\e82d'; } /* '' */
.icon-lp-cancel:before { content: '\e82e'; } /* '' */
.icon-lp-cancel-circled:before { content: '\e82f'; } /* '' */
.icon-lp-cancel-circled2:before { content: '\e830'; } /* '' */
.icon-lp-plus:before { content: '\e831'; } /* '' */
.icon-lp-plus-circled:before { content: '\e832'; } /* '' */
.icon-lp-plus-squared:before { content: '\e833'; } /* '' */
.icon-lp-plus-squared-alt:before { content: '\e834'; } /* '' */
.icon-lp-minus:before { content: '\e835'; } /* '' */
.icon-lp-minus-circled:before { content: '\e836'; } /* '' */
.icon-lp-minus-squared:before { content: '\e837'; } /* '' */
.icon-lp-minus-squared-alt:before { content: '\e838'; } /* '' */
.icon-lp-help:before { content: '\e839'; } /* '' */
.icon-lp-help-circled:before { content: '\e83a'; } /* '' */
.icon-lp-info-circled:before { content: '\e83b'; } /* '' */
.icon-lp-info:before { content: '\e83c'; } /* '' */
.icon-lp-home:before { content: '\e83d'; } /* '' */
.icon-lp-link:before { content: '\e83e'; } /* '' */
.icon-lp-unlink:before { content: '\e83f'; } /* '' */
.icon-lp-link-ext:before { content: '\e840'; } /* '' */
.icon-lp-link-ext-alt:before { content: '\e841'; } /* '' */
.icon-lp-attach:before { content: '\e842'; } /* '' */
.icon-lp-lock:before { content: '\e843'; } /* '' */
.icon-lp-lock-open:before { content: '\e844'; } /* '' */
.icon-lp-lock-open-alt:before { content: '\e845'; } /* '' */
.icon-lp-pin:before { content: '\e846'; } /* '' */
.icon-lp-eye:before { content: '\e847'; } /* '' */
.icon-lp-eye-off:before { content: '\e848'; } /* '' */
.icon-lp-tag:before { content: '\e849'; } /* '' */
.icon-lp-tags:before { content: '\e84a'; } /* '' */
.icon-lp-bookmark:before { content: '\e84b'; } /* '' */
.icon-lp-bookmark-empty:before { content: '\e84c'; } /* '' */
.icon-lp-flag:before { content: '\e84d'; } /* '' */
.icon-lp-flag-empty:before { content: '\e84e'; } /* '' */
.icon-lp-flag-checkered:before { content: '\e84f'; } /* '' */
.icon-lp-thumbs-up:before { content: '\e850'; } /* '' */
.icon-lp-thumbs-down:before { content: '\e851'; } /* '' */
.icon-lp-thumbs-up-alt:before { content: '\e852'; } /* '' */
.icon-lp-thumbs-down-alt:before { content: '\e853'; } /* '' */
.icon-lp-download:before { content: '\e854'; } /* '' */
.icon-lp-upload:before { content: '\e855'; } /* '' */
.icon-lp-download-cloud:before { content: '\e856'; } /* '' */
.icon-lp-upload-cloud:before { content: '\e857'; } /* '' */
.icon-lp-reply:before { content: '\e858'; } /* '' */
.icon-lp-reply-all:before { content: '\e859'; } /* '' */
.icon-lp-forward:before { content: '\e85a'; } /* '' */
.icon-lp-quote-left:before { content: '\e85b'; } /* '' */
.icon-lp-quote-right:before { content: '\e85c'; } /* '' */
.icon-lp-code:before { content: '\e85d'; } /* '' */
.icon-lp-export:before { content: '\e85e'; } /* '' */
.icon-lp-export-alt:before { content: '\e85f'; } /* '' */
.icon-lp-share:before { content: '\e860'; } /* '' */
.icon-lp-share-squared:before { content: '\e861'; } /* '' */
.icon-lp-pencil:before { content: '\e862'; } /* '' */
.icon-lp-pencil-squared:before { content: '\e863'; } /* '' */
.icon-lp-edit:before { content: '\e864'; } /* '' */
.icon-lp-print:before { content: '\e865'; } /* '' */
.icon-lp-retweet:before { content: '\e866'; } /* '' */
.icon-lp-keyboard:before { content: '\e867'; } /* '' */
.icon-lp-gamepad:before { content: '\e868'; } /* '' */
.icon-lp-comment:before { content: '\e869'; } /* '' */
.icon-lp-chat:before { content: '\e86a'; } /* '' */
.icon-lp-comment-empty:before { content: '\e86b'; } /* '' */
.icon-lp-chat-empty:before { content: '\e86c'; } /* '' */
.icon-lp-bell:before { content: '\e86d'; } /* '' */
.icon-lp-bell-alt:before { content: '\e86e'; } /* '' */
.icon-lp-bell-off:before { content: '\e86f'; } /* '' */
.icon-lp-bell-off-empty:before { content: '\e870'; } /* '' */
.icon-lp-attention-alt:before { content: '\e871'; } /* '' */
.icon-lp-attention:before { content: '\e872'; } /* '' */
.icon-lp-attention-circled:before { content: '\e873'; } /* '' */
.icon-lp-location:before { content: '\e874'; } /* '' */
.icon-lp-direction:before { content: '\e875'; } /* '' */
.icon-lp-compass-1:before { content: '\e876'; } /* '' */
.icon-lp-trash:before { content: '\e877'; } /* '' */
.icon-lp-trash-empty:before { content: '\e878'; } /* '' */
.icon-lp-doc:before { content: '\e879'; } /* '' */
.icon-lp-docs:before { content: '\e87a'; } /* '' */
.icon-lp-doc-text:before { content: '\e87b'; } /* '' */
.icon-lp-doc-inv:before { content: '\e87c'; } /* '' */
.icon-lp-doc-text-inv:before { content: '\e87d'; } /* '' */
.icon-lp-file-pdf:before { content: '\e87e'; } /* '' */
.icon-lp-file-word:before { content: '\e87f'; } /* '' */
.icon-lp-file-excel:before { content: '\e880'; } /* '' */
.icon-lp-file-powerpoint:before { content: '\e881'; } /* '' */
.icon-lp-file-image:before { content: '\e882'; } /* '' */
.icon-lp-file-archive:before { content: '\e883'; } /* '' */
.icon-lp-file-audio:before { content: '\e884'; } /* '' */
.icon-lp-file-video:before { content: '\e885'; } /* '' */
.icon-lp-file-code:before { content: '\e886'; } /* '' */
.icon-lp-folder:before { content: '\e887'; } /* '' */
.icon-lp-folder-open:before { content: '\e888'; } /* '' */
.icon-lp-folder-empty:before { content: '\e889'; } /* '' */
.icon-lp-folder-open-empty:before { content: '\e88a'; } /* '' */
.icon-lp-box:before { content: '\e88b'; } /* '' */
.icon-lp-rss:before { content: '\e88c'; } /* '' */
.icon-lp-rss-squared:before { content: '\e88d'; } /* '' */
.icon-lp-phone:before { content: '\e88e'; } /* '' */
.icon-lp-phone-squared:before { content: '\e88f'; } /* '' */
.icon-lp-fax:before { content: '\e890'; } /* '' */
.icon-lp-menu:before { content: '\e891'; } /* '' */
.icon-lp-cog:before { content: '\e892'; } /* '' */
.icon-lp-cog-alt:before { content: '\e893'; } /* '' */
.icon-lp-wrench:before { content: '\e894'; } /* '' */
.icon-lp-sliders:before { content: '\e895'; } /* '' */
.icon-lp-basket:before { content: '\e896'; } /* '' */
.icon-lp-calendar:before { content: '\e897'; } /* '' */
.icon-lp-calendar-empty:before { content: '\e898'; } /* '' */
.icon-lp-login:before { content: '\e899'; } /* '' */
.icon-lp-logout:before { content: '\e89a'; } /* '' */
.icon-lp-mic:before { content: '\e89b'; } /* '' */
.icon-lp-mute:before { content: '\e89c'; } /* '' */
.icon-lp-volume-off:before { content: '\e89d'; } /* '' */
.icon-lp-volume-down:before { content: '\e89e'; } /* '' */
.icon-lp-volume-up:before { content: '\e89f'; } /* '' */
.icon-lp-headphones:before { content: '\e8a0'; } /* '' */
.icon-lp-clock:before { content: '\e8a1'; } /* '' */
.icon-lp-lightbulb:before { content: '\e8a2'; } /* '' */
.icon-lp-block:before { content: '\e8a3'; } /* '' */
.icon-lp-resize-full:before { content: '\e8a4'; } /* '' */
.icon-lp-resize-full-alt:before { content: '\e8a5'; } /* '' */
.icon-lp-resize-small:before { content: '\e8a6'; } /* '' */
.icon-lp-resize-vertical:before { content: '\e8a7'; } /* '' */
.icon-lp-resize-horizontal:before { content: '\e8a8'; } /* '' */
.icon-lp-move:before { content: '\e8a9'; } /* '' */
.icon-lp-zoom-in:before { content: '\e8aa'; } /* '' */
.icon-lp-zoom-out:before { content: '\e8ab'; } /* '' */
.icon-lp-down-circled2:before { content: '\e8ac'; } /* '' */
.icon-lp-up-circled2:before { content: '\e8ad'; } /* '' */
.icon-lp-left-circled2:before { content: '\e8ae'; } /* '' */
.icon-lp-right-circled2:before { content: '\e8af'; } /* '' */
.icon-lp-down-dir:before { content: '\e8b0'; } /* '' */
.icon-lp-up-dir:before { content: '\e8b1'; } /* '' */
.icon-lp-left-dir:before { content: '\e8b2'; } /* '' */
.icon-lp-right-dir:before { content: '\e8b3'; } /* '' */
.icon-lp-down-open:before { content: '\e8b4'; } /* '' */
.icon-lp-left-open:before { content: '\e8b5'; } /* '' */
.icon-lp-right-open:before { content: '\e8b6'; } /* '' */
.icon-lp-up-open:before { content: '\e8b7'; } /* '' */
.icon-lp-angle-left:before { content: '\e8b8'; } /* '' */
.icon-lp-angle-right:before { content: '\e8b9'; } /* '' */
.icon-lp-angle-up:before { content: '\e8ba'; } /* '' */
.icon-lp-angle-down:before { content: '\e8bb'; } /* '' */
.icon-lp-angle-circled-left:before { content: '\e8bc'; } /* '' */
.icon-lp-angle-circled-right:before { content: '\e8bd'; } /* '' */
.icon-lp-angle-circled-up:before { content: '\e8be'; } /* '' */
.icon-lp-angle-circled-down:before { content: '\e8bf'; } /* '' */
.icon-lp-angle-double-left:before { content: '\e8c0'; } /* '' */
.icon-lp-angle-double-right:before { content: '\e8c1'; } /* '' */
.icon-lp-angle-double-up:before { content: '\e8c2'; } /* '' */
.icon-lp-angle-double-down:before { content: '\e8c3'; } /* '' */
.icon-lp-down:before { content: '\e8c4'; } /* '' */
.icon-lp-left:before { content: '\e8c5'; } /* '' */
.icon-lp-right:before { content: '\e8c6'; } /* '' */
.icon-lp-up:before { content: '\e8c7'; } /* '' */
.icon-lp-down-big:before { content: '\e8c8'; } /* '' */
.icon-lp-left-big:before { content: '\e8c9'; } /* '' */
.icon-lp-right-big:before { content: '\e8ca'; } /* '' */
.icon-lp-up-big:before { content: '\e8cb'; } /* '' */
.icon-lp-right-hand:before { content: '\e8cc'; } /* '' */
.icon-lp-left-hand:before { content: '\e8cd'; } /* '' */
.icon-lp-up-hand:before { content: '\e8ce'; } /* '' */
.icon-lp-down-hand:before { content: '\e8cf'; } /* '' */
.icon-lp-left-circled:before { content: '\e8d0'; } /* '' */
.icon-lp-right-circled:before { content: '\e8d1'; } /* '' */
.icon-lp-up-circled:before { content: '\e8d2'; } /* '' */
.icon-lp-down-circled:before { content: '\e8d3'; } /* '' */
.icon-lp-cw:before { content: '\e8d4'; } /* '' */
.icon-lp-ccw:before { content: '\e8d5'; } /* '' */
.icon-lp-arrows-cw:before { content: '\e8d6'; } /* '' */
.icon-lp-level-up:before { content: '\e8d7'; } /* '' */
.icon-lp-level-down:before { content: '\e8d8'; } /* '' */
.icon-lp-shuffle:before { content: '\e8d9'; } /* '' */
.icon-lp-exchange:before { content: '\e8da'; } /* '' */
.icon-lp-history:before { content: '\e8db'; } /* '' */
.icon-lp-expand:before { content: '\e8dc'; } /* '' */
.icon-lp-collapse:before { content: '\e8dd'; } /* '' */
.icon-lp-expand-right:before { content: '\e8de'; } /* '' */
.icon-lp-collapse-left:before { content: '\e8df'; } /* '' */
.icon-lp-play:before { content: '\e8e0'; } /* '' */
.icon-lp-play-circled:before { content: '\e8e1'; } /* '' */
.icon-lp-play-circled2:before { content: '\e8e2'; } /* '' */
.icon-lp-stop:before { content: '\e8e3'; } /* '' */
.icon-lp-pause:before { content: '\e8e4'; } /* '' */
.icon-lp-to-end:before { content: '\e8e5'; } /* '' */
.icon-lp-to-end-alt:before { content: '\e8e6'; } /* '' */
.icon-lp-to-start:before { content: '\e8e7'; } /* '' */
.icon-lp-to-start-alt:before { content: '\e8e8'; } /* '' */
.icon-lp-fast-fw:before { content: '\e8e9'; } /* '' */
.icon-lp-fast-bw:before { content: '\e8ea'; } /* '' */
.icon-lp-eject:before { content: '\e8eb'; } /* '' */
.icon-lp-target:before { content: '\e8ec'; } /* '' */
.icon-lp-signal:before { content: '\e8ed'; } /* '' */
.icon-lp-wifi:before { content: '\e8ee'; } /* '' */
.icon-lp-award:before { content: '\e8ef'; } /* '' */
.icon-lp-desktop:before { content: '\e8f0'; } /* '' */
.icon-lp-laptop:before { content: '\e8f1'; } /* '' */
.icon-lp-tablet:before { content: '\e8f2'; } /* '' */
.icon-lp-mobile:before { content: '\e8f3'; } /* '' */
.icon-lp-inbox:before { content: '\e8f4'; } /* '' */
.icon-lp-globe-1:before { content: '\e8f5'; } /* '' */
.icon-lp-sun:before { content: '\e8f6'; } /* '' */
.icon-lp-cloud:before { content: '\e8f7'; } /* '' */
.icon-lp-flash:before { content: '\e8f8'; } /* '' */
.icon-lp-moon:before { content: '\e8f9'; } /* '' */
.icon-lp-umbrella:before { content: '\e8fa'; } /* '' */
.icon-lp-flight:before { content: '\e8fb'; } /* '' */
.icon-lp-fighter-jet:before { content: '\e8fc'; } /* '' */
.icon-lp-paper-plane:before { content: '\e8fd'; } /* '' */
.icon-lp-paper-plane-empty:before { content: '\e8fe'; } /* '' */
.icon-lp-space-shuttle:before { content: '\e8ff'; } /* '' */
.icon-lp-leaf:before { content: '\e900'; } /* '' */
.icon-lp-font:before { content: '\e901'; } /* '' */
.icon-lp-bold:before { content: '\e902'; } /* '' */
.icon-lp-italic:before { content: '\e903'; } /* '' */
.icon-lp-header:before { content: '\e904'; } /* '' */
.icon-lp-paragraph:before { content: '\e905'; } /* '' */
.icon-lp-text-height:before { content: '\e906'; } /* '' */
.icon-lp-text-width:before { content: '\e907'; } /* '' */
.icon-lp-align-left:before { content: '\e908'; } /* '' */
.icon-lp-align-center:before { content: '\e909'; } /* '' */
.icon-lp-align-right:before { content: '\e90a'; } /* '' */
.icon-lp-align-justify:before { content: '\e90b'; } /* '' */
.icon-lp-list:before { content: '\e90c'; } /* '' */
.icon-lp-indent-left:before { content: '\e90d'; } /* '' */
.icon-lp-indent-right:before { content: '\e90e'; } /* '' */
.icon-lp-list-bullet:before { content: '\e90f'; } /* '' */
.icon-lp-list-numbered:before { content: '\e910'; } /* '' */
.icon-lp-strike:before { content: '\e911'; } /* '' */
.icon-lp-underline:before { content: '\e912'; } /* '' */
.icon-lp-superscript:before { content: '\e913'; } /* '' */
.icon-lp-subscript:before { content: '\e914'; } /* '' */
.icon-lp-table:before { content: '\e915'; } /* '' */
.icon-lp-columns:before { content: '\e916'; } /* '' */
.icon-lp-crop:before { content: '\e917'; } /* '' */
.icon-lp-scissors:before { content: '\e918'; } /* '' */
.icon-lp-paste:before { content: '\e919'; } /* '' */
.icon-lp-briefcase-1:before { content: '\e91a'; } /* '' */
.icon-lp-suitcase:before { content: '\e91b'; } /* '' */
.icon-lp-ellipsis:before { content: '\e91c'; } /* '' */
.icon-lp-ellipsis-vert:before { content: '\e91d'; } /* '' */
.icon-lp-off:before { content: '\e91e'; } /* '' */
.icon-lp-road:before { content: '\e91f'; } /* '' */
.icon-lp-list-alt:before { content: '\e920'; } /* '' */
.icon-lp-qrcode:before { content: '\e921'; } /* '' */
.icon-lp-barcode:before { content: '\e922'; } /* '' */
.icon-lp-book:before { content: '\e923'; } /* '' */
.icon-lp-ajust:before { content: '\e924'; } /* '' */
.icon-lp-tint:before { content: '\e925'; } /* '' */
.icon-lp-toggle-off:before { content: '\e926'; } /* '' */
.icon-lp-toggle-on:before { content: '\e927'; } /* '' */
.icon-lp-check:before { content: '\e928'; } /* '' */
.icon-lp-check-empty:before { content: '\e929'; } /* '' */
.icon-lp-circle:before { content: '\e92a'; } /* '' */
.icon-lp-circle-empty:before { content: '\e92b'; } /* '' */
.icon-lp-circle-thin:before { content: '\e92c'; } /* '' */
.icon-lp-circle-notch:before { content: '\e92d'; } /* '' */
.icon-lp-dot-circled:before { content: '\e92e'; } /* '' */
.icon-lp-asterisk:before { content: '\e92f'; } /* '' */
.icon-lp-gift:before { content: '\e930'; } /* '' */
.icon-lp-fire:before { content: '\e931'; } /* '' */
.icon-lp-magnet:before { content: '\e932'; } /* '' */
.icon-lp-chart-bar:before { content: '\e933'; } /* '' */
.icon-lp-chart-area:before { content: '\e934'; } /* '' */
.icon-lp-chart-pie:before { content: '\e935'; } /* '' */
.icon-lp-chart-line:before { content: '\e936'; } /* '' */
.icon-lp-ticket:before { content: '\e937'; } /* '' */
.icon-lp-credit-card:before { content: '\e938'; } /* '' */
.icon-lp-floppy:before { content: '\e939'; } /* '' */
.icon-lp-megaphone:before { content: '\e93a'; } /* '' */
.icon-lp-hdd:before { content: '\e93b'; } /* '' */
.icon-lp-key-1:before { content: '\e93c'; } /* '' */
.icon-lp-fork:before { content: '\e93d'; } /* '' */
.icon-lp-rocket:before { content: '\e93e'; } /* '' */
.icon-lp-bug:before { content: '\e93f'; } /* '' */
.icon-lp-certificate:before { content: '\e940'; } /* '' */
.icon-lp-tasks:before { content: '\e941'; } /* '' */
.icon-lp-filter:before { content: '\e942'; } /* '' */
.icon-lp-beaker:before { content: '\e943'; } /* '' */
.icon-lp-magic:before { content: '\e944'; } /* '' */
.icon-lp-cab:before { content: '\e945'; } /* '' */
.icon-lp-taxi:before { content: '\e946'; } /* '' */
.icon-lp-truck:before { content: '\e947'; } /* '' */
.icon-lp-bus:before { content: '\e948'; } /* '' */
.icon-lp-bicycle:before { content: '\e949'; } /* '' */
.icon-lp-money:before { content: '\e94a'; } /* '' */
.icon-lp-euro:before { content: '\e94b'; } /* '' */
.icon-lp-pound:before { content: '\e94c'; } /* '' */
.icon-lp-dollar:before { content: '\e94d'; } /* '' */
.icon-lp-rupee:before { content: '\e94e'; } /* '' */
.icon-lp-yen:before { content: '\e94f'; } /* '' */
.icon-lp-rouble:before { content: '\e950'; } /* '' */
.icon-lp-shekel:before { content: '\e951'; } /* '' */
.icon-lp-try:before { content: '\e952'; } /* '' */
.icon-lp-won:before { content: '\e953'; } /* '' */
.icon-lp-bitcoin:before { content: '\e954'; } /* '' */
.icon-lp-sort:before { content: '\e955'; } /* '' */
.icon-lp-sort-down:before { content: '\e956'; } /* '' */
.icon-lp-sort-up:before { content: '\e957'; } /* '' */
.icon-lp-sort-alt-up:before { content: '\e958'; } /* '' */
.icon-lp-sort-alt-down:before { content: '\e959'; } /* '' */
.icon-lp-sort-name-up:before { content: '\e95a'; } /* '' */
.icon-lp-sort-name-down:before { content: '\e95b'; } /* '' */
.icon-lp-sort-number-up:before { content: '\e95c'; } /* '' */
.icon-lp-sort-number-down:before { content: '\e95d'; } /* '' */
.icon-lp-hammer:before { content: '\e95e'; } /* '' */
.icon-lp-gauge:before { content: '\e95f'; } /* '' */
.icon-lp-sitemap:before { content: '\e960'; } /* '' */
.icon-lp-spinner:before { content: '\e961'; } /* '' */
.icon-lp-coffee:before { content: '\e962'; } /* '' */
.icon-lp-food:before { content: '\e963'; } /* '' */
.icon-lp-beer:before { content: '\e964'; } /* '' */
.icon-lp-user-md:before { content: '\e965'; } /* '' */
.icon-lp-stethoscope:before { content: '\e966'; } /* '' */
.icon-lp-ambulance:before { content: '\e967'; } /* '' */
.icon-lp-medkit:before { content: '\e968'; } /* '' */
.icon-lp-h-sigh:before { content: '\e969'; } /* '' */
.icon-lp-hospital:before { content: '\e96a'; } /* '' */
.icon-lp-building:before { content: '\e96b'; } /* '' */
.icon-lp-building-filled:before { content: '\e96c'; } /* '' */
.icon-lp-bank:before { content: '\e96d'; } /* '' */
.icon-lp-smile:before { content: '\e96e'; } /* '' */
.icon-lp-frown:before { content: '\e96f'; } /* '' */
.icon-lp-meh:before { content: '\e970'; } /* '' */
.icon-lp-anchor:before { content: '\e971'; } /* '' */
.icon-lp-terminal:before { content: '\e972'; } /* '' */
.icon-lp-eraser:before { content: '\e973'; } /* '' */
.icon-lp-puzzle:before { content: '\e974'; } /* '' */
.icon-lp-shield:before { content: '\e975'; } /* '' */
.icon-lp-extinguisher:before { content: '\e976'; } /* '' */
.icon-lp-bullseye:before { content: '\e977'; } /* '' */
.icon-lp-wheelchair:before { content: '\e978'; } /* '' */
.icon-lp-language:before { content: '\e979'; } /* '' */
.icon-lp-graduation-cap:before { content: '\e97a'; } /* '' */
.icon-lp-paw:before { content: '\e97b'; } /* '' */
.icon-lp-spoon:before { content: '\e97c'; } /* '' */
.icon-lp-cube:before { content: '\e97d'; } /* '' */
.icon-lp-cubes:before { content: '\e97e'; } /* '' */
.icon-lp-recycle:before { content: '\e97f'; } /* '' */
.icon-lp-tree:before { content: '\e980'; } /* '' */
.icon-lp-database:before { content: '\e981'; } /* '' */
.icon-lp-lifebuoy:before { content: '\e982'; } /* '' */
.icon-lp-rebel:before { content: '\e983'; } /* '' */
.icon-lp-empire:before { content: '\e984'; } /* '' */
.icon-lp-bomb:before { content: '\e985'; } /* '' */
.icon-lp-soccer-ball:before { content: '\e986'; } /* '' */
.icon-lp-tty:before { content: '\e987'; } /* '' */
.icon-lp-binoculars:before { content: '\e988'; } /* '' */
.icon-lp-plug:before { content: '\e989'; } /* '' */
.icon-lp-newspaper:before { content: '\e98a'; } /* '' */
.icon-lp-calc:before { content: '\e98b'; } /* '' */
.icon-lp-copyright:before { content: '\e98c'; } /* '' */
.icon-lp-at:before { content: '\e98d'; } /* '' */
.icon-lp-eyedropper:before { content: '\e98e'; } /* '' */
.icon-lp-brush:before { content: '\e98f'; } /* '' */
.icon-lp-birthday:before { content: '\e990'; } /* '' */
.icon-lp-cc-visa:before { content: '\e991'; } /* '' */
.icon-lp-cc-mastercard:before { content: '\e992'; } /* '' */
.icon-lp-cc-discover:before { content: '\e993'; } /* '' */
.icon-lp-cc-amex:before { content: '\e994'; } /* '' */
.icon-lp-cc-paypal:before { content: '\e995'; } /* '' */
.icon-lp-cc-stripe:before { content: '\e996'; } /* '' */
.icon-lp-adn:before { content: '\e997'; } /* '' */
.icon-lp-android:before { content: '\e998'; } /* '' */
.icon-lp-angellist:before { content: '\e999'; } /* '' */
.icon-lp-apple:before { content: '\e99a'; } /* '' */
.icon-lp-behance:before { content: '\e99b'; } /* '' */
.icon-lp-behance-squared:before { content: '\e99c'; } /* '' */
.icon-lp-bitbucket:before { content: '\e99d'; } /* '' */
.icon-lp-bitbucket-squared:before { content: '\e99e'; } /* '' */
.icon-lp-cc:before { content: '\e99f'; } /* '' */
.icon-lp-codeopen:before { content: '\e9a0'; } /* '' */
.icon-lp-css3:before { content: '\e9a1'; } /* '' */
.icon-lp-delicious:before { content: '\e9a2'; } /* '' */
.icon-lp-deviantart:before { content: '\e9a3'; } /* '' */
.icon-lp-digg:before { content: '\e9a4'; } /* '' */
.icon-lp-dribbble:before { content: '\e9a5'; } /* '' */
.icon-lp-dropbox:before { content: '\e9a6'; } /* '' */
.icon-lp-drupal:before { content: '\e9a7'; } /* '' */
.icon-lp-facebook:before { content: '\e9a8'; } /* '' */
.icon-lp-facebook-squared:before { content: '\e9a9'; } /* '' */
.icon-lp-flickr:before { content: '\e9aa'; } /* '' */
.icon-lp-foursquare:before { content: '\e9ab'; } /* '' */
.icon-lp-git-squared:before { content: '\e9ac'; } /* '' */
.icon-lp-git:before { content: '\e9ad'; } /* '' */
.icon-lp-github:before { content: '\e9ae'; } /* '' */
.icon-lp-github-squared:before { content: '\e9af'; } /* '' */
.icon-lp-github-circled:before { content: '\e9b0'; } /* '' */
.icon-lp-gittip:before { content: '\e9b1'; } /* '' */
.icon-lp-google:before { content: '\e9b2'; } /* '' */
.icon-lp-gplus:before { content: '\e9b3'; } /* '' */
.icon-lp-gplus-squared:before { content: '\e9b4'; } /* '' */
.icon-lp-gwallet:before { content: '\e9b5'; } /* '' */
.icon-lp-hacker-news:before { content: '\e9b6'; } /* '' */
.icon-lp-html5:before { content: '\e9b7'; } /* '' */
.icon-lp-instagramm:before { content: '\e9b8'; } /* '' */
.icon-lp-ioxhost:before { content: '\e9b9'; } /* '' */
.icon-lp-joomla:before { content: '\e9ba'; } /* '' */
.icon-lp-jsfiddle:before { content: '\e9bb'; } /* '' */
.icon-lp-lastfm:before { content: '\e9bc'; } /* '' */
.icon-lp-lastfm-squared:before { content: '\e9bd'; } /* '' */
.icon-lp-linkedin-squared:before { content: '\e9be'; } /* '' */
.icon-lp-linux:before { content: '\e9bf'; } /* '' */
.icon-lp-linkedin:before { content: '\e9c0'; } /* '' */
.icon-lp-maxcdn:before { content: '\e9c1'; } /* '' */
.icon-lp-meanpath:before { content: '\e9c2'; } /* '' */
.icon-lp-openid:before { content: '\e9c3'; } /* '' */
.icon-lp-pagelines:before { content: '\e9c4'; } /* '' */
.icon-lp-paypal:before { content: '\e9c5'; } /* '' */
.icon-lp-pied-piper-squared:before { content: '\e9c6'; } /* '' */
.icon-lp-pied-piper-alt:before { content: '\e9c7'; } /* '' */
.icon-lp-pinterest-circled:before { content: '\e9c8'; } /* '' */
.icon-lp-pinterest-squared:before { content: '\e9c9'; } /* '' */
.icon-lp-qq:before { content: '\e9ca'; } /* '' */
.icon-lp-reddit:before { content: '\e9cb'; } /* '' */
.icon-lp-reddit-squared:before { content: '\e9cc'; } /* '' */
.icon-lp-renren:before { content: '\e9cd'; } /* '' */
.icon-lp-skype:before { content: '\e9ce'; } /* '' */
.icon-lp-slack:before { content: '\e9cf'; } /* '' */
.icon-lp-slideshare:before { content: '\e9d0'; } /* '' */
.icon-lp-soundcloud:before { content: '\e9d1'; } /* '' */
.icon-lp-spotify:before { content: '\e9d2'; } /* '' */
.icon-lp-stackexchange:before { content: '\e9d3'; } /* '' */
.icon-lp-stackoverflow:before { content: '\e9d4'; } /* '' */
.icon-lp-steam:before { content: '\e9d5'; } /* '' */
.icon-lp-steam-squared:before { content: '\e9d6'; } /* '' */
.icon-lp-stumbleupon:before { content: '\e9d7'; } /* '' */
.icon-lp-stumbleupon-circled:before { content: '\e9d8'; } /* '' */
.icon-lp-tencent-weibo:before { content: '\e9d9'; } /* '' */
.icon-lp-trello:before { content: '\e9da'; } /* '' */
.icon-lp-tumblr:before { content: '\e9db'; } /* '' */
.icon-lp-tumblr-squared:before { content: '\e9dc'; } /* '' */
.icon-lp-twitch:before { content: '\e9dd'; } /* '' */
.icon-lp-twitter-squared:before { content: '\e9de'; } /* '' */
.icon-lp-twitter:before { content: '\e9df'; } /* '' */
.icon-lp-vimeo-squared:before { content: '\e9e0'; } /* '' */
.icon-lp-vine:before { content: '\e9e1'; } /* '' */
.icon-lp-vkontakte:before { content: '\e9e2'; } /* '' */
.icon-lp-wechat:before { content: '\e9e3'; } /* '' */
.icon-lp-weibo:before { content: '\e9e4'; } /* '' */
.icon-lp-windows:before { content: '\e9e5'; } /* '' */
.icon-lp-wordpress:before { content: '\e9e6'; } /* '' */
.icon-lp-xing:before { content: '\e9e7'; } /* '' */
.icon-lp-xing-squared:before { content: '\e9e8'; } /* '' */
.icon-lp-yelp:before { content: '\e9e9'; } /* '' */
.icon-lp-youtube:before { content: '\e9ea'; } /* '' */
.icon-lp-yahoo:before { content: '\e9eb'; } /* '' */
.icon-lp-youtube-squared:before { content: '\e9ec'; } /* '' */
.icon-lp-youtube-play:before { content: '\e9ed'; } /* '' */
.icon-lp-blank:before { content: '\e9ee'; } /* '' */
.icon-lp-lemon:before { content: '\e9ef'; } /* '' */